/* Основні стилі для меню */
#accordion-menu {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Стилі кожного пункту меню */
.menu-item {
    border-bottom: 1px solid #ddd;
}

.menu-header {
    padding: 15px;
    cursor: pointer;
    background-color: #f7f7f7;
    font-weight: bold;
    font-size: 16px;
}

.menu-header:hover {
    background-color: #4014b8;
}

/* Приховуємо контент за замовчуванням */
.menu-content {
    display: none;
    padding: 15px;
    background-color: #fc0000;
}
